.fix-event {
  width: 30vw;
  height: auto;
  padding: 10%;
}

.fix-event .title {
  font-size: 2.5rem;
}

.fix-event .name {
  font-size: 1.5rem;
}

.fix-event input {
  font-size: 1.2rem;
  font-family: "Manrope", "KoreanTITGD";
  border-width: 0 0 0.1rem;
  width: 100%;
  height: 100%;
}

.fix-event button {
  background: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #8dc63f;
}
