.frame {
  width: 100%;
  margin-bottom: 15%;
  padding: 0 5%;
}

.row {
  margin: 15px 15px;
  padding: 0px;
}

.col {
  margin: 0px;
  padding: 0px;
}

.title {
  font-size: 50px;
  margin-bottom: 5%;
}
