.member {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  margin: 20px 15px;
  padding: 10px 27px;
  height: 120px;
  width: 300px;
}

.member .row {
  margin: 12px 0px;
}

.member_name,
.member_id {
  font-style: normal;
  font-weight: 540;
  font-size: 25px;
  line-height: 30px;
  color: #4e4e4e;
  margin: 0px;
  padding: 0px;
}

.member_button {
  list-style: none;
  display: flex;
  margin: 5px;
  padding: 0px;
}

.member_button li {
  margin: 0px 5px;
}

.button-icon {
  height: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip_text {
  visibility: hidden;
  width: 220px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -110px;
}

.tooltip .tooltip_text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltip_text {
  visibility: visible;
}
