
/* Footer */
.Footer-nav{
position: absolute;
left: 0%;
right: 0%;
bottom: 0%;

background: #F2F2F2;
}

/* © 2011-2021 SKKU NPC Club */
.Footer-NPC{
position: absolute;
width: 227px;
height: 21px;
left: 1178px;
top: 247px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 30px;
/* or 200% */
display: flex;
align-items: center;
text-align: right;

/* Gray 1 */
color: #333333;
}

/* 손병호 xxx@g.skku.edu */
.Footer-p1{
position: absolute;
width: 318px;
height: 27px;
left: 1087px;
top: 73px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 10px;
/* or 56% */
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);
}


/* 박재성 xxx@g.skku.edu */
.Footer-p2{
position: absolute;
width: 318px;
height: 27px;
left: 1087px;
top: 121px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 10px;
/* or 56% */
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);
}


/* 부회장 */
.Footer-pp2{
position: absolute;
width: 77px;
height: 27px;
left: 983px;
top: 121px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
/* or 167% */
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);
}


/* 회장 */
.Footer-pp1{
position: absolute;
width: 77px;
height: 27px;
left: 983px;
top: 73px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 30px;
/* or 167% */
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);
}


/* 경기도 수원시 장안구 2066 성균관대학교 자연과학캠퍼스 반도체관 6층 400609호 */
.Footer-address{
position: absolute;
width: 721px;
height: 43px;
left: 128px;
top: 166px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* or 187% */
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);
}


/* Baekjoon OJ */
.Footer-BOJ{
position: absolute;
width: 126px;
height: 24px;
left: 128px;
top: 119px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */
display: flex;
align-items: center;
text-decoration-line: underline;

color: rgba(0, 0, 0, 0.5);
}


/* GitHub */
.Footer-GitHub{
position: absolute;
width: 73px;
height: 24px;
left: 128px;
top: 82px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */
display: flex;
align-items: center;
text-decoration-line: underline;

color: rgba(0, 0, 0, 0.5);
}


/* npc.skku@g.skku.edu */
.Footer-email{
position: absolute;
width: 177px;
height: 24px;
left: 128px;
top: 41px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */
display: flex;
align-items: center;
text-decoration-line: underline;

color: rgba(0, 0, 0, 0.5);
}


/* map icon */
.Footer-map_icon{
position: absolute;
width: 18px;
height: 21px;
left: 93px;
top: 163px;

background: url(map_icon.png);
}

/* baekjoon icon */
.Footer-BOJ_icon{
position: absolute;
width: 21px;
height: 21px;
left: 92px;
top: 121px;

background: url(BOJ_icon.png);
}

/* github icon */
.Footer-GitHub_icon{
position: absolute;
width: 21px;
height: 21px;
left: 92px;

background: url(GitHub_icon.png);
}

/* mail icon */
.Footer-email_icon{
position: absolute;
width: 21px;
height: 21px;
left: 92px;
top: 44px;

background: url(email_icon.png);
}