.member {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.8rem 0.8rem;
  margin: 1.2rem 1.2rem;
}

.member .row {
  margin-bottom: 0.4rem;
}

.member .col-2 {
  text-align: center;
}

.member img {
  height: 1.2rem;
}

.member_name,
.member_handle {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #4e4e4e;
}

.member_button {
  list-style: none;
  display: flex;
}

.member_button li {
  margin: 0 0.4rem;
}

.button-icon {
  height: 1.5rem;
}

.member .tooltip {
  position: relative;
  display: inline-block;
}

.member .tooltip .tooltip_text {
  visibility: hidden;
  width: auto;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  white-space: nowrap;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  position: absolute;
  z-index: 3;
  top: 150%;
  left: 50%;
  transform: translateX(-54%);
}

.member .tooltip .tooltip_text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.member .tooltip:hover .tooltip_text {
  visibility: visible;
}
