.study {
  margin: 150px 0;
}

.study .row {
  width: 100%;
}

.study img {
  height: 30px;
}

.post {
  margin: 0 15%;
}

.post .title {
  font-size: 2.5rem;
  margin: 3rem 0;
  font-weight: 600;
}

.post .writer {
  font-size: 1.3rem;
}

.all-posts {
  margin: 0 10% 5rem;
}

.all-posts .class-title {
  font-size: 2.5rem;
  font-weight: 600;
}

.all-posts .post-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.write {
  margin: 0 10%;
  padding: 5%;
  border-radius: 0.5rem;
  background-color: #d7d7d7;
}

.write .card {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem 2rem;
}

.write .title {
  font-size: 1.5rem;
}

.write select {
  font-family: "KoreanTITGD";
  height: 2.5rem;
  width: 100%;
}

.write button {
  font-size: 1.3rem;
  border-radius: 0.5rem;
  background: #cab0a8;
  font-family: "KoreanTITGD";
}

.write .content {
  margin-top: 3rem;
}

.write .input-box {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.show .tooltip_arrow {
  visibility: hidden;
  width: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: 0px;
}

.show .tooltip_text {
  visibility: hidden;
  width: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 20px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: 0px;
}

.show .tooltip_text .row {
  margin: 8px 0;
}

.show .tooltip_arrow {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
}

.show .tooltip_arrow::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.show .class-box {
  font-weight: 600;
  font-size: 2rem;
  cursor: default;
  text-align: center;
}

.show .class-boxes:hover .tooltip_text {
  visibility: visible;
}

.show .class-boxes .col-2 {
  border-radius: 20px;
}

.show .class-boxes .col-2:hover .tooltip_arrow {
  visibility: visible;
}
