.no-pad {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.row {
  margin: 0;
  padding: 5px 0px;
}

.horizontal-center {
  text-align: center;
}

.footer {
  height: auto;
  width: 100%;
  background-color: #f2f2f2;
}

.footer img {
  filter: grayscale(1);
  height: auto;
}

.footer a {
  color: black;
}
