body {
  margin: 0;
  font-family: "Manrope", "KoreanTITGD";
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope/Manrope-Light.ttf") format("truetype");
  font-weight: 200;
  unicode-range: U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 300;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope/Manrope-Medium.ttf") format("truetype");
  font-weight: 400;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 500;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope/Manrope-Bold.ttf") format("truetype");
  font-weight: 600;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: "KoreanTITGD";
  src: url("./fonts/KoreanTITGD/KoreanTITGD1.ttf") format("truetype");
  font-weight: 300;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "KoreanTITGD";
  src: url("./fonts/KoreanTITGD/KoreanTITGD2.ttf") format("truetype");
  font-weight: 400;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "KoreanTITGD";
  src: url("./fonts/KoreanTITGD/KoreanTITGD3.ttf") format("truetype");
  font-weight: 600;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "KoreanTITGD";
  src: url("./fonts/KoreanTITGD/KoreanTITGD4.ttf") format("truetype");
  font-weight: 700;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "KoreanTITGD";
  src: url("./fonts/KoreanTITGD/KoreanTITGD5.ttf") format("truetype");
  font-weight: 800;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/material-icons.woff2") format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
