.header {
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: auto;
  z-index: 3;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(16px);
  text-align: center;
}

.header .logo {
  height: 85px;
}

.header .user {
  height: 30px;
  transform: translateY(10%);
}

.header a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
