.member-list {
  width: 125vh;
  margin: 15vh calc((100vw - 125vh) / 2);
}

.member-title {
  margin-left: 5%;
  font-size: 3rem;
  font-weight: 600;
}

.filter-container {
  height: 4rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.filter-container button {
  font-size: 2rem;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: none;
}

.filter-container button:active {
  outline: none;
  border: none;
}

.filter-container button:focus {
  outline: 0;
}

.filter-container .filter-year {
  font-size: 2rem;
  font-weight: bold;
  margin: 0px 100px;
}

.filter-container .col-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-container .new-member-button {
  box-shadow: 0 0.25rem 0.5rem #eab10b;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filter-container img {
  width: 2.5rem;
  height: 2.5rem;
}

.filter-container .new-member {
  color: #eab10b;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.member-container {
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
}

.member-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, max-content));
  justify-content: center;
}

@media (max-aspect-ratio: 5/4) {
  .member-list {
    width: 100%;
    margin: 15vh 0;
    padding: 0 5%;
  }
}
