.intro {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.intro img {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  position: absolute;
  width: 10%;
  height: 10%;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}

.arrow {
  position: relative;
  left: 25%;
  border-bottom: 4px solid #535353;
  border-left: 4px solid #535353;
  width: 5vw;
  height: 5vw;
  transform: rotate(-45deg);
}
