.intro {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.intro img {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.arrow {
  position: relative;
  left: 25%;
  border-bottom: 4px solid #535353;
  border-left: 4px solid #535353;
  width: 50px;
  height: 50px;
  transform: rotate(-45deg);
}
