.profile {
  text-align: center;
}

.profile .profile-img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px;
}

.profile .setting-button {
  text-decoration: underline;
  font-weight: 600;
  cursor: default;
}

.profile .col-4 {
  text-align: right;
}

.profile .col-7 {
  text-align: left;
}

.profile .tooltip {
  position: relative;
  display: inline-block;
}

.profile .tooltip .tooltip_text {
  visibility: hidden;
  width: 220px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -110px;
}

.profile .tooltip .tooltip_text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.profile .tooltip:hover .tooltip_text {
  visibility: visible;
}
