.profile {
  text-align: center;
}

.profile .profile-img {
  width: 30vh;
  height: 25vh;
  object-fit: cover;
  border-radius: 1rem;
}

.profile .setting-button {
  text-decoration: underline;
  font-weight: 600;
  cursor: default;
}

.profile .col-4 {
  text-align: right;
}

.profile .col-7 {
  text-align: left;
}

.profile .tooltip {
  position: relative;
  display: inline-block;
}

.profile .tooltip .tooltip_text {
  visibility: hidden;
  width: auto;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  white-space: nowrap;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  position: absolute;
  z-index: 3;
  top: 150%;
  left: 50%;
  transform: translateX(-54%);
}

.profile .tooltip .tooltip_text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.profile .tooltip:hover .tooltip_text {
  visibility: visible;
}
