.Header-nav{
position: absolute;
width: 1440px;
height: 85px;
left: calc(50% - 1440px/2);
top: 0px;

background: rgba(255, 255, 255, 0.7);
backdrop-filter: blur(16px);
/* Note: backdrop-filter has minimal browser support */
}

/* 스터디 */
.Header-study{
position: absolute;
left: 84.31%;
right: 11.04%;
top: 37.5%;
bottom: 37.5%;

font-family: KoreanTITGD3R;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* or 130% */
display: flex;
align-items: center;
text-align: center;

color: #4E4E4E;
}

/* 일정 */
.Header-calendar{
position: absolute;
left: 76.32%;
right: 20.56%;
top: 37.5%;
bottom: 37.5%;

font-family: KoreanTITGD3R;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* or 130% */
display: flex;
align-items: center;
text-align: center;

color: #4E4E4E;
}


/* 멤버 */
.Header-member{
position: absolute;
left: 68.33%;
right: 28.54%;
top: 37.5%;
bottom: 37.5%;

font-family: KoreanTITGD3R;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* or 130% */
display: flex;
align-items: center;
text-align: center;

color: #4E4E4E;
}


/* Line 1 */
.Header-line1{
position: absolute;
width: 1440px;
height: 0px;
left: 0px;
top: 85px;

border: 2px solid #D3D3D3;
}
/* NPC 로고 */
.Header-NPC_logo{
position: absolute;
left: 5.83%;
right: 86.88%;
top: 0%;
bottom: 0%;

background: url(NPC_logo.png);
}

/* User */
.Header-user{
position: absolute;
width: 39px;
height: 39px;
left: 1351px;
top: 23px;

background: url(User.png);
}


/* Vector */
.Header-vector{
position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

background: #4E4E4E;
}