.calendar {
  margin: 150px 0;
}

.calendar-title {
  margin-left: 5%;
  font-size: 3rem;
  font-weight: 600;
}

.calendar .row {
  margin: 2% 0;
}

.calendar img {
  height: 35px;
}

.calendar .button {
  font-size: 1.5rem;
  text-decoration: underline;
  cursor: default;
}
