/**{
  font-family : KoreanTITGD3R
}*/
.frame{
    position: relative;
    width: 501px;
    height: 573px;
    background: #FFFFFF;
    border-radius: 25px;
  }
  .text-1{
    position: absolute;
    width: 416px;
    height: 48px;
    left: 41px;
    top: 49px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;  
  } /*일정 수정*/
  .text-2{
    position: absolute;
    width: 416px;
    height: 48px;
    left: 41px;
    top: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
  } /* 추가하기 */
  
  
  .text-3{
    position: absolute;
    width: 166px;
    height: 23px;
    left: 41px;
    top: 167px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
  }/* 제목: */
  .text-4{
    position: absolute;
    width: 8px;
    height: 20px;
    left: 208px;
    top: 236px;
    font-family: KoreanTITGD2R;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
  }  /* ~ */
  .text-5{
    position: absolute;
    width: 416px;
    height: 48px;
    left: 45px;
    top: 290px;
    font-family: KoreanTITGD3R;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
  }  /* 수정하기 */
  .text-6{
    position: absolute;
    width: 166px;
    height: 23px;
    left: 122px;
    top: 350px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
  } /*방학시작*/
  
  .text-7{
    position: absolute;
    width: 319px;
    height: 23px;
    left: 45px;
    top: 380px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
  }   /* 2021 02 28 19:00 ~ 2021 02 28 20:00 */
  .text-8{
    position: absolute;
    width: 166px;
    height: 23px;
    left: 122px;
    top: 413px;  
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
  } /*방학종료*/
  .text-9{
    position: absolute;
    width: 319px;
    height: 23px;
    left: 45px;
    top: 441px;  
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
  }   /* 2021 02 28 19:00 ~ 2021 02 28 20:00 */
  .text-10{
    position: absolute;
    width: 166px;
    height: 23px;
    left: 108px;
    top: 478px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
  } /*초급반 수업*/
  .text-11{
    position: absolute;
    width: 319px;
    height: 23px;
    left: 45px;
    top: 501px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
  }   /* 2021 02 28 19:00 ~ 2021 02 28 20:00 */
  .title{
    position: absolute;
    width: 176px;
    height: 22px;
    left: 143px;
    top: 168px;
  
    background: rgba(107, 107, 107, 0.11);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }/*제목 받아오는 창?*/
  .startyear{
    position: absolute;
    width: 73px;
    height: 18px;
    left: 41px;
    top: 209px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .startmonth{
    position: absolute;
    width: 34px;
    height: 18px;
    left: 122px;
    top: 209px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .startday{
    position: absolute;
    width: 34px;
    height: 18px;
    left: 164px;
    top: 209px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .starthour{
  
    position: absolute;
    width: 34px;
    height: 18px;
    left: 206px;
    top: 209px;
  
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
  
  }
  .startmin{
  
    position: absolute;
    width: 34px;
    height: 18px;
    left: 248px;
    top: 210px;
  
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
  
  }
  .endyear{
    position: absolute;
    width: 73px;
    height: 18px;
    left: 240px;
    top: 236px;
  
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
  
  }
  .endmonth{
    position: absolute;
    width: 34px;
    height: 18px;
    left: 321px;
    top: 236px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    
  }
  .endday{
    position: absolute;
    width: 34px;
    height: 18px;
    left: 363px;
    top: 236px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
  
  }
  .endhour{
    position: absolute;
    width: 34px;
    height: 18px;
    left: 405px;
    top: 236px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .endmin{
    position: absolute;
    width: 34px;
    height: 18px;
    left: 447px;
    top: 237px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  .savebutton{
    position: absolute;
    width: 36px;
    height: 22px;
    left: 430px;
    top: 264px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;   
    background: #8DC63F;
    color: white;   
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 17px;
    text-decoration-line: underline;
  }
  .ebtn-1{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 433px;
    top: 345px;
    cursor: pointer;
    outline : none;
    border :none;
    background-color: #FFFFFF;
  }
  .ebtn-2{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 433px;
    top: 417px;
    cursor: pointer;
    outline : none;
    border :none;
    background-color: #FFFFFF
  }
  .ebtn-3{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 433px;
    top: 489px;
    cursor: pointer;
    outline : none;
    border :none;
    background-color: #FFFFFF
  }
  
  
  
  
  
  
  